<div class="solution-container">
  <div class="solution">
    <ng-container *ngFor="let step of steps()">
      <div class="step" *ngIf="step.cast !== undefined">
        <img [alt]="step.cast.name" class="cast-img" [src]="getPosterPath(step.cast.profile_path)">
        <span>{{ step.cast.name }}</span>
      </div>

      <div class="step">
        <img [alt]="step.movie.title" class="movie-img" [src]="getPosterPath(step.movie.poster_path)">
        <p>{{ step.movie.title }} ({{ step.movie.release_date.split('-')[0] }})</p>
      </div>
    </ng-container>
  </div>
</div>
