
<p style="text-align: center; width: 20%; margin: 0 auto">
  The goal of the game is to find as few movies as possible to connect the
  first two using common cast.<br />
  For example: If the movies were Sherlock Holmes and Chef you could say Iron
  man because Robert Downey Jr.
  <br />
  is in both Sherlock Holmes and Iron Man and Jon Favreu is in both Iron Man
  and Chef.
</p>

<div class="congrats" *ngIf="gameWon()">
  <h1>
    🎉 Congratulations 🎉
  </h1>
  <h2> {{ this.start_answers.length + this.end_answers.length }} move(s)</h2>
</div>

<div class="sequence vertical">
  <!--  Start-->
  <app-answer [movie]="start" />

  <div class="guess" *ngFor="let answer of start_answers; index as i">
    <div class="cast-list">
      <app-cast-icon [cast]="cast" *ngFor="let cast of answer.result.cast" />
    </div>
    <app-answer [movie]="answer.movie" />
  </div>

  <div [classList]="classList()" *ngIf="!gameWon()">
    <div class="circle" *ngFor="let _ of Array.from({length: remainingGuesses()})">&nbsp;</div>
  </div>

  <div class="guess" *ngFor="let answer of end_answers.slice().reverse(); index as i">
    <app-answer [movie]="answer.movie" *ngIf="!gameWon() || i !== 0"/>
    <div class="cast-list">
      <app-cast-icon [cast]="cast" *ngFor="let cast of answer.result.cast" />
    </div>
  </div>


  <!--  <div class="cast-list" *ngIf="gameWon()">-->
  <!--    <app-cast-icon [cast]="cast" *ngFor="let cast of lastCastList" />-->
  <!--  </div>-->

  <!--  End-->
  <app-answer [movie]="end" />

  <!--<label>Show Solution</label>-->
  <!--<mat-slide-toggle [checked]="showSolution" (change)="showSolution = !showSolution" />-->
</div>

<!--<app-solution-viewer [gameId]="this.gameId" />-->

<div class="center">
  <app-movie-input (onSelected)="submitGuess($event)" />
</div>
