<div class="congrats" *ngIf="gameWon()">
  <h2>
    🎉 Congratulations 🎉
  </h2>
  <h5> {{ this.guesses.length }} move(s)</h5>
</div>

<div class="sequence vertical">
  <!--  Start-->
  <app-answer [movie]="start" />

  <div class="guess" *ngFor="let guess of guesses; index as i">
    <!--    <div class="cast-list">-->
    <!--      <app-cast-icon [cast]="cast" *ngFor="let cast of guess.result.cast" />-->
    <!--    </div>-->
    <app-answer [movie]="guess.movie" />
  </div>


  <!--  <div class="cast-list" *ngIf="gameWon()">-->
  <!--    <app-cast-icon [cast]="cast" *ngFor="let cast of lastCastList" />-->
  <!--  </div>-->

  <!--  End-->
  <app-answer [movie]="end" />

  <!--<label>Show Solution</label>-->
  <!--<mat-slide-toggle [checked]="showSolution" (change)="showSolution = !showSolution" />-->
</div>

<!--<app-solution-viewer [gameId]="this.gameId" />-->

<div class="floating bottom">
  <app-movie-input (onSelected)="submitGuess($event)" />
</div>
