.cast-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.metadata {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  text-align: center;
}

.guess {
  display: flex;
  flex-direction: column;

  .cast-list {
    display: flex;
    flex-direction: row;
  }

  .metadata {
    display: flex;
    align-items: center;
    justify-content: start;

    p {
      font-size: 1.75rem;
      margin: 0.5rem;
    }
  }
}

.sequence {
  width: 100vw;
  height: 70vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.vertical {
    flex-direction: column;
  }
}

.circles {
  display: flex;
  flex-direction: row;

  .circle {
    margin: 3px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 100%;
  }

  &.loading .circle {
    animation: shake 2s infinite;
    -webkit-animation: shake 2s infinite;
    -moz-animation: shake 2s infinite;
    -o-animation: shake 2s infinite;

    &:nth-child(odd) {
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -o-animation-delay: 1s;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes shake {
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translate(4px);
  }
}

/* Vendor prefixes */
@-webkit-keyframes shake {
  25% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@-moz-keyframes shake {
  25% {
    -moz-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -moz-transform: translateX(-0);
    transform: translateX(0);
  }
  75% {
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@-o-keyframes shake {
  25% {
    -o-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -o-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@-ms-keyframes shake {
  25% {
    -ms-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
}
