::ng-deep app-random-page {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cast-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.metadata {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  font-size: 24px;
  text-align: center;
}

.guess {
  display: flex;
  flex-direction: column;

  .cast-list {
    display: flex;
    flex-direction: row;
  }

  .metadata {
    display: flex;
    align-items: center;
    justify-content: start;

    p {
      font-size: 1.66rem;
      margin: 0.5rem;
    }
  }
}
