/* You can add global styles to this file, and also import other style files */
@font-face {
  src: url(assets/font/FilmLetters.ttf) format("truetype");
  font-family: FilmLetters;
}


html, body {
  height: 100%;
  background: #FE5151;
}

.congrats {
  h2 {
    font-size: 5rem !important;
  }

  h5 {
    font-size: 3rem;
    margin: 4rem;
  }

  margin: 4rem !important;
  text-align: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h3 {
  margin-bottom: 0 !important;
}

.sequence {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: scroll;


  &.vertical {
    flex-direction: column;
  }

  .poster {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
  }

  .cast-img, .movie-img {
    padding: 0.5rem;
    //border: 1px solid black;
    border-radius: 3px;
    margin: 0.5rem;
    box-shadow: 1px 1px 8px #AAA;
    background: white;
  }

  .cast-img {
    width: 4rem;
    height: auto;
  }

  .movie-img {
    width: 6rem;
    height: auto;
  }

  .step {
    display: flex;
  }

  .poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.floating {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 1rem;
}

html body.mat-typography app-root app-game-page div.floating.bottom app-movie-input div.ng-autocomplete ng-autocomplete.ng-autocomplete div.autocomplete-container.active div#suggestions.suggestions-container.is-visible {
  bottom: 45px !important;
}
