/* You can add global styles to this file, and also import other style files */
@font-face {
  src: url(assets/font/FilmLetters.ttf) format("truetype");
  font-family: FilmLetters;
}


html, body {
  height: 100vh;
  background: #FE5151;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h3 {
  margin-bottom: 0 !important;
}
