<div class="footer">
  <div class="ng-autocomplete">
    <ng-autocomplete
      #auto
      [data]="suggestions"
      searchKeyword="title"
      placeholder="Type a Movie"
      [class]="class"
      (selected)="selectedEvent($event)"
      (inputChanged)="onChangeSearch($event)"
      (inputFocused)="onFocused($event)"
      [itemTemplate]="itemTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHtml]="this.displayFn(item)"></a>
    </ng-template>
  </div>

  <button (click)="submit()">Submit</button>
</div>
