<!--<div class="poster">-->
<!--  <img alt="unknown" class="cast-img" src="/assets/questionmark.jpg">-->

<!--</div>-->

<!--<div class="poster">-->
<!--  <img [alt]="selectedMovie == undefined ? 'unknown' : selectedMovie.title" class="movie-img" [src]="posterPath()">-->
<mat-form-field class="is-invalid">
  <input matInput
         autofocus
         [class]="getClass()"
         placeholder="Type a Movie..."
         [(ngModel)]="valueString"
         (input)="onInputChange($event)"
         [matAutocomplete]="auto" />

  <!--  <button mat-icon-button matSuffix>-->
  <!--    <span class="material-icons">x</span>-->
  <!--  </button>-->
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="selectedChange($event.option.value)">
    <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
      {{ displayFn(suggestion) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<!--</div>-->
