//position: fixed;
//bottom: 0.5rem;

::ng-deep #suggestions {
  position: absolute;
  bottom: calc(100% + .5rem);
}


::ng-deep .ng-autocomplete {
  max-width: 380px;

  .autocomplete-container {
    .input-container {
      input {
        background-color: var(--white);
        border-radius: 4px;
        font-size: 1.25em;
        height: 48px;
        padding: 16px;
        z-index: 10000;
      }
    }
  }
}

//
//.movie-input {
//  .ng-autocomplete {
//    width: 300px;
//  }
//}

.is-invalid input {
  border: 3px solid red;
  animation: shake 300ms infinite;
  -webkit-animation: shake 300ms infinite;
  -moz-animation: shake 300ms infinite;
  -o-animation: shake 300ms infinite;
}

button {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  height: 50px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  padding: 0 14px;

  border: 0;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  box-shadow: none;
  margin: 0 6px;
  z-index: 10000;
}


@keyframes shake {
  0% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(4px);
  }
}


/* Vendor prefixes */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
  50% {
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: translateX(4px);
    transform: translateX(4px);
  }
  50% {
    -o-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -o-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  50% {
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
}
