.ng-autocomplete {
  background: #E0E0E0;
  width: 350px;
  margin-top: auto;
  margin-bottom: 1rem;

  ::ng-deep input {
    font-size: 18px !important;
  }


}


//.is-invalid {
//border: 3px solid red;
//  animation: shake 300ms;
//}


@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translate(4px);
  }
}
