h1 {
  font-family: FilmLetters, sans-serif;
  font-size: 5rem;
  text-align: center;
}

#actions {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.cast-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guess {
  display: flex;
  flex-direction: column;

  .cast-list {
    display: flex;
    flex-direction: row;

  }

  .metadata {
    display: flex;
    align-items: center;
    justify-content: start;

    p {
      font-size: 1.75rem;
      margin: 0.5rem;
    }
  }
}
