<h1>Reel-Ation</h1>

<div class="sequence">
  <!--  Start-->
  <div class="poster" *ngIf="start != undefined">
    <img [alt]="start.title" class="movie-img" [src]="getPosterPath(start.poster_path)" [matTooltip]="start.title">
    <!--    <h3>{{ start.title }} ({{ getYear(start.release_date) }})</h3>-->

    <mat-form-field>
      <input matInput disabled [value]="start.title" [alt]="start.title" [matTooltip]="start.title" />
    </mat-form-field>
  </div>

  <app-person-input />

  <app-movie-input />
  <app-person-input />

  <app-movie-input />
  <app-person-input />

  <app-movie-input/>
  <app-person-input />

  <app-movie-input/>
  <app-person-input />

  <!--  End-->
  <div class="poster" *ngIf="end != undefined">
    <img [alt]="end.title" class="movie-img" [src]="getPosterPath(end.poster_path)" [matTooltip]="end.title">
    <!--    <h3>{{ end.title }} ({{ getYear(end.release_date) }})</h3>-->
    <mat-form-field>
      <input matInput disabled [value]="end.title" [alt]="end.title" [matTooltip]="end.title" />
    </mat-form-field>
  </div>
</div>


<div id="actions">
  <mat-form-field>
    <input matInput [(ngModel)]="this.gameId" />
  </mat-form-field>

  <button mat-raised-button color="primary" matSuffix (click)="loadGame()">
    Load
  </button>

  <button mat-raised-button color="accent" matSuffix (click)="randomize()">
    Randomize
  </button>
</div>

<app-solution-viewer [gameId]="this.gameId"/>
